.top-nav-bar {
  background-color: black;
}
#Logo-id {
    width: 50%;
    height: auto;
}
.top-nav-list li a {
 color: white;
 text-decoration: none;
}
.Main-Div {
  text-align: center;
  list-style-position: inside;
  font-family: Raleway, sans-serif;
}
#headshot {
  border-radius: 50%;
  width: 30%;
  height: auto;
}
.screenshot {
  width: 50%;
  height: auto;
}
h1, h4 {
  color: #E13A63;
}
